[flake8]
exclude =
    docs/conf.py
    .git
    __pycache__
ignore =
    D200   # One line docstrings are fine.
    IF100  # x if bool else y is good.
    N803   # Variables like G, H are OK.
    N805   # We use G instead of self for clarity.
    N806   # In keeping with CGT notation, we use capitalized variable names.
    E501   # Prefer use of B950.
    I002   # I don't use isort

    D205
    D400
    D401
    D404
    D504
    R504
    RST213
    RST215
    RST306
    SF01
per-file-ignores =
    # Allow assert statements in tests:
    test_*.py: S101
    # Allow * imports in __init__.py files:
    __init__.py: F401, F403

count = True
docstring-convention = numpy
max-line-length = 120
show-source = True
statistics = True
