language: python
python:
  - "3.6"
  - "3.7-dev"  # 3.7 development branch
  - "pypy3"

matrix:
  allow_failures:
    - python: "3.7-dev"
    - python: "pypy3"

# command to install dependencies
install:
  - pip install -e .[all]

# command to run tests
script:
  - pytest --cov

after_success:
  - codecov

notifications:
  email: false