language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy3"

matrix:
  allow_failures:
    - python: "pypy3"

# command to install dependencies
install:
  - sudo apt-get install -qq libatlas-base-dev
  - pip install --upgrade pip flit attrs
  - FLIT_IGNORE_INVALID=1 flit install --deps=develop

# command to run tests
script:
  - pytest

after_success:
  - codecov

notifications:
  email: false
